*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-carrossel{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden; /* cortar oq esta fora do determinado ou seja ele ocultara oq esta fora do max-width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
}

.slides{
    display: flex;
    /* transform: translateX(-100%); */ /* trocar para o slide 2 */
    transition: transform 1s ease;
}

.slides img{
    display: block;
    max-width: 100%;
    object-fit: contain; /* n ira mexer nas proporções originais */
}

button{
    position: absolute; /* tirar de dentro do container */
    top: 50%;
    transform: translateY(-50%); /* organizar no centro o botao */
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 2.5px rgb(255, 255, 255);
    
    font-size: 21px;
    cursor: pointer; /* cursor do mouse */
    background-color: rgba(0, 0, 0, 0.575);
    color: wheat;
    transition: 0.5s ease;
}

button:hover{
background-color: black;
    color: white;
}

.esquerda{
    left: 10px;
}

.direita{
    right: 10px;
}

